.swiper {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.swiper-wrapper {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1240px;
  height: 600px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--yellow-color);
}

.swiper-pagination-bullet-active {
  color: var(--yellow-color);
}

.custom-prev {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  /* transition: left 0.3s ease; */
}

.custom-next {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  /* transition: left 0.3s ease; */
}
