.swiper {
  width: 100%;
  margin: 20px auto;
}

.swiper-wrapper {
  object-fit: cover;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--yellow-color);
}

.swiper-pagination-bullet-active {
  color: var(--yellow-color);
}

.custom-prev,
.custom-next {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: 50%; /* 버튼을 부모 요소의 중앙에 위치시킵니다. */
  transform: translateY(-50%); /* 버튼을 자신의 높이의 반만큼 위로 이동시켜 정확히 중앙에 배치합니다. */
}

.custom-prev {
  left: 100px;
}

.custom-next {
  right: 100px;
}
