:root {
  --white-color: white;
  --background-color: rgb(45, 196, 182);
  --black-color: #222222;
  --grey-color: #e6e6ea;
  --lightgrey-color: #f0f0f0;
  --golden-color: #bbb800;
  --green-color: #74c456;
  --lightgreen-color: #86d079;
  --yellow-color: #fec72d;
  --lime-color: #d6e259;
  --darkgrey-color: #999999;

  --mintgreen-color: #12bd7e;
  --placeholder-color: #bbbbbb;
}
