:root {
  --white-color: white;
  --black-color: #222222;
  --grey-color: #e6e6ea;
  --lightgrey-color: #f0f0f0;
  --darkgrey-color: #999999;
  --placeholder-color: #bbbbbb;
  --yellow-color: #fec72d;

  --green-color: #74c456;
  --lightgreen-color: #86d079;
  --lime-color: #d6e259;
}
