/* 색깔 지정은 여기서 하시면 돼용 
그래서 다른데서 꺼낼때 white컬러를 꺼내고싶다 ! 이러면 
color : var(--white-color) 이렇게 해서 색깔을 여기서 한꺼번에 관리할 수 있어용
일단 제가 개인과제 하면서 썼던거 긁어 왔는데 ㅋㅋㅋㅋㅋㅋ 나중에 바꾸면 됩니다
*/
:root {
  --white-color: white;
  --background-color: rgb(45, 196, 182);
  --black-color: #222222;
  --grey-color: grey;
  --lightgrey-color: #f0f0f0;
  --golden-color: #bbb800;
  --green-color: #74c456;
  --lightgreen-color: #86d079;
  --yellow-color: #fec72d;
  --lime-color: #d6e259;
  --darkgrey-color: rgb(90, 98, 104);

  --mintgreen-color: #12bd7e;
  --placeholder-color: #e6e6ea;
}
